SOTC_BASE_URL=https://www.sotc.in
SOTC_ACCOUNT_URL=https://www.sotc.in/MyAccount
SOTC_TEST_FIRST_NAME=Playwright
SOTC_TEST_LAST_NAME=Tester
SOTC_TEST_EMAIL=
SOTC_TEST_PASSWORD=Test123!
SOTC_TEST_MOBILE=
